.user-jumbo {
  max-width: 460px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.user-img {
  max-width: 140px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #333;
}

.user-info {
  font-size: 1.2rem;
}

.edit-user-form {
  max-width: 480px;
}