.company-page-logo {
  max-width: 120px;
  border: 2px solid #000;
  border-radius: 10px;
}

.company-jumbo {
  max-width: 900px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.company-desc {
  font-size: 1rem;
}

.num-employees {
  font-size: 0.9rem;
  color: #888;
}