ul {
  list-style: none;
}

li {
  margin: 0 auto;
}

li img {
  max-width: 160px; 
}

ul a:hover {
  text-decoration: none;
}

.fa-spinner {
  margin-top: 50px;
  font-size: 10rem;
  color: #333a3f;
}